<div class="mainContainer">
  <div class=header>
    <div class="drop" (click)="toggleDropdown()"></div>
    <div class="counter">{{counter}}</div>
    <div [hidden]="!isDropdownOpen" class="dropdown">
      <div *ngFor="let file of fileList">
        <span class="dIcon" (click)="downloadFile(file)">
          <img src="assets/icons/download.png" width="15px;" height="15px;"/>
        </span>{{file}}
      </div>
    </div>
  </div>


  <div class="content">

    <form class="customForm" [formGroup] = "formGroup1" (ngSubmit)="onSubmit()">
      <input class="nameIn" type="text" name="name" formControlName="name" id="inputFileName" placeholder="File Name" maxlength="30" />
      <label for="inputGroupFile">
        <img src="assets/icons/upload.png" width="25px" height="25x"/> <span class="fileText">{{fileName}}</span>
      </label>
      <input class="uploadFile" type="file" accept=".pdf,.doc,.docx" id="inputGroupFile" (change)="onFileChange($event)"/>
      <button class="btnSubmit" type="submit" [disabled]="!formGroup1.valid" value="upload" >Submit</button>
    </form>
  </div>

</div>