.mainContainer {
    border-style: solid;
    height: 80vh;
    width: 100%;
}

.header {
    width: 100%;
    height: 40px;
    border-bottom: solid;
    border-color: black;
    position: relative;
    display: inline-block;
}

.drop {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: red;
    background-color: salmon;
    border-radius: 50%;
    display: inline-block;
    margin-top: 7px;
    margin-left: 150px;
    cursor: pointer;
  }

  .counter {
    height: 17px;
    width: 17px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 170px;
    top: 4px;
    text-align: center;
    font-weight: bold;
  }

.dropdown {
    border-style: solid;
    background-color: white;
    width: 200px;
    position: absolute;
    z-index: 100;
}
.dIcon {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploadFile {
    display: none;
}

input {
    padding: 10px;
    margin: 10px;
}
.nameIn {
    width: 210px;
}

.fileText {
    margin-left: 10px;
    color: gray;
}

.btnSubmit {
    margin: 10px;
    width: 70px;
    height: 30px;
}
